<p id="notice"><%= notice %></p>
<h1>レストラン一覧</h1>
<% @restaurants.each do |restaurant| %>







<div class="panel panel-default">
  <div class="panel-heading"><%= link_to restaurant.title, restaurant %></div>
  <div class="panel-body">


  </div>
</div>







    <% end %>
<button type="button" class="btn btn-default"><%= link_to '新しくお店を登録する', new_restaurant_path %></button>


